# General
#
LOG_LEVEL=debug
DATABASE_URL=postgres://user:pass@localhost:5432
JWT_SECRET=stub

# Recaptcha
#
RECAPTCHA_SECRET=stub
APP_RECAPTCHA_RESPONSE=dev-recaptcha-bypass
RECAPTCHA_RESPONSE_ALLOWLIST=dev-recaptcha-bypass,...

# Emails
#
SEND_EMAILS=false
EMAIL_STMP_USERNAME=stub
EMAIL_STMP_USERNAME=stub

# Discord
#
DISCORD_ALERTS_CHANNEL_ID=stub
DISCORD_BOT_TOKEN=stub
