@import url('https://fonts.googleapis.com/css?family=Overpass:500,600,700,800&display=swap');

html,
body {
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #282f37;
}

body * {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(255, 255, 255, 0.9);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $overpassFontFamily;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  min-width: 0;
}

h1 {
  font-size: 36px;
  font-weight: 600;
  color: $textTitleColor;
}

h2 {
  font-size: 28px;
  color: $textTitleColor;
}

p,
li {
  font-family: sans-serif;
  font-size: 15px;
  color: $textPrimaryColor;
  line-height: 22px;

  &.secondary {
    color: $textSecondaryColor;
  }
  &.disabled {
    color: $textDisabledColor;
  }
}

a {
  color: #8e5dd6;

  &.white {
    color: $textPrimaryColor;
  }
  &.white.secondary {
    color: $textSecondaryColor;
  }
}

.grecaptcha-badge {
  visibility: hidden;
}

.error-text {
  color: $red500;
}

input[type='submit'],
a.button,
button,
.button {
  display: inline-block;
  font-family: $overpassFontFamily;
  background-color: #009ce4;
  height: 32px;
  line-height: 32px;
  padding: 0 16px;
  padding-top: 2px;
  box-sizing: border-box;
  border: none;
  font-size: 15px;
  font-weight: 800;
  border-radius: 4px;
  transition: 200ms;
  cursor: pointer;
  text-decoration: none;
  color: $textTitleColor;

  &.secondary {
    background-color: #8e5dd6;
  }
  &.dark {
    background-color: #1b2025;
  }
  &.error {
    color: rgba($color: black, $alpha: 0.87);
    background-color: $red500;
  }
  &.transparent {
    background-color: transparent;
  }

  &:hover {
    filter: brightness(110%);
    &.transparent {
      background-color: rgba($color: white, $alpha: 0.06);
    }
  }
  &:hover:active {
    filter: brightness(120%);
  }

  &.disabled {
    opacity: 0.48;
    pointer-events: none;

    &:hover,
    &:hover:active {
      filter: none;
    }
  }
}
a.button {
  color: white;
}
