$primary500: #009ce4;
$primary700: #018eca;

$secondary500: #8e5dd6;
$secondary700: #804ec9;

$red500: #cf6679;

$backgroundColor: #282f37;
$dark400: #1b2025;
$dark500: #14171b;
$dark700: #080c11;

$textTitleColor: #ffffff;
$textPrimaryColor: rgba(
  $color: #ffffff,
  $alpha: 0.7,
);
$textSecondaryColor: rgba(
  $color: #ffffff,
  $alpha: 0.64,
);
$textDisabledColor: rgba(
  $color: #ffffff,
  $alpha: 0.48,
);

$navBarHeight: 54px;
$overpassFontFamily: 'Overpass', sans-serif;

$GRID_BREAK_SMALL: 720px;
$GRID_BREAK_LARGE: 1440px;
